<div class="panel panel-pithy author" style="padding-bottom: 27.5px;padding-top: 27.5px;">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/avatar.jpg" alt="Heng Li"/>
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="github"><a href="https://github.com/HenngGeneral" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="订阅" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
